@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .bg {
    /* The image used */
    background-image: url(/img/bground.png);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box_container{
      padding: 0;
      margin: 0;
      position: absolute;
      bottom: 0px;
  }

  .box_container img{
      display: block;
      padding: 0;
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    transition: 0.8s;
    width: 30%;
    text-align: center;
    background: #212121;
    position: absolute;
    right: 10%;
    margin-top: 5%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .card img{
    margin: 10px 0;
    transition: 0.8s;
    width: 50%;
  }

  .card p{
    text-align: justify;
    color: #eeeeee;
  }


  .button.is-primary {
    border: 3px solid transparent;
    background: #1e2328;
    border-image: linear-gradient(#08abac, #01698b) 1;
    transition: all ease .5s;
    margin: 20px 0;
  }
  
  .button.is-primary:not([disabled]):hover {
    background-image: url(/img/btn.jpg);
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 10px 4px rgba(192, 252, 253, .4), inset 0 0 5px 2px rgba(192, 252, 253, .3);
    border: 3px solid rgba(192, 252, 253, .75);
    cursor: pointer;
  }
